* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dela Gothic One", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

#string {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    margin-top: 10em;
}

svg {
    width: 90%; /* Adjust width as needed */
    height: auto;
    margin-top: 50px; /* Margin from the top */
}
