*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dela Gothic One", sans-serif;
    color: #FFF;
    font-size: x-large;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: #111;
}



#string{
    height: 200px;
    width: 100%;
    /* background-color: white; */
}

svg{
    background-color: teal;
    /* width: 90%; */
    width: 100%;
    height: 100%;
}