* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1529528744093-6f8abeee511d?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    /* color: rgb(236, 212, 117); */
}

h2{
    /* font-size: 90px; */
}


#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: #fff;
    cursor: pointer;
}

#nav i {
    font-size: 30px;
    font-weight: 800;
}

#full{
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: #ffffff4c;
    top: 0;
    right: -40%;
    backdrop-filter: blur(10px);
    padding: 150px 50px;
}

#full h4{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
}

#full i{
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}

