* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dela Gothic One", sans-serif;
}

html, 
body {
    height: 100%;
    width: 100%;
    /* Prevent horizontal overflow */
}

#main{
    height: 100%;
    width: 100%;
    background-color: #111;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: #fff;
}